:root {
    --almost-black: rgb(8, 8, 8);
    --almost-white: rgb(252, 252, 252);
    --green1: rgb(114, 190, 94);
    --green2: rgb(49, 165, 23);
    --purple1: rgba(138, 72, 182);
    --purple2: rgba(77, 41, 100);
    --purple3: rgb(232, 196, 255);
    --yellow1: rgb(255, 255, 174);
    --yellow2: rgb(212, 212, 133);
    --pink1: rgb(230, 119, 180);
    --pink2: rgb(255, 218, 238);
}

* {
    padding: 0;
    margin: 0;
    border: 0 solid var(--almost-black);
    color: var(--almost-black);
}

body {
    background-color: var(--almost-white);
}

header {
    background: linear-gradient(var(--pink1), var(--purple2));
    padding: 15px 100px;
}

section {
    padding: 50px 200px;
}

@media (max-width: 900px) {
    section {
        padding: 50px 100px;
    }
}

h1 {
    padding: 15px;
    font-size: 40px;
}

h1 a {
    color: var(--yellow1);
    text-decoration: none;
}

h1 a:hover {
    color: var(--almost-white);
}

h3 {
    margin: 10px 0;
}

a {
    color: var(--purple1);
}

a:hover {
    color: var(--green1);
}

ul {
    padding-left: 20px;
}

input {
    margin: 4px;
    padding: 4px;
}

form :last-child {
    background-color: var(--almost-white);
    border: 2px solid var(--green1);
}

form :last-child:hover {
    border: 2px solid var(--green2);
}

.code {
    font-family: "courier new"
}

.black-background { background-color: var(--almost-black); }
.white-background { background-color: var(--almost-white); }
.green1-background { background-color: var(--green1); }
.green2-background { background-color: var(--green2); }
.purple1-background { background-color: var(--purple1); }
.purple2-background { background-color: var(--purple2); }
.yellow1-background { background-color: var(--yellow1); }
.yellow2-background { background-color: var(--yellow2); }
.pink1-background { background-color: var(--pink1); }
.pink2-background { background-color: var(--pink2); }