:root {
    --almost-black: rgb(8, 8, 8);
    --almost-white: rgb(252, 252, 252);
    --green1: rgb(106, 167, 91);
    --green2: rgb(69, 107, 60);
    --purple1: rgb(125, 66, 165);
    --purple2: rgb(77, 41, 100);
    --yellow1: rgb(224, 224, 68);
    --yellow2: rgb(179, 179, 57);
    --pink1: rgb(230, 119, 180);
    --pink2: rgb(184, 94, 142);
}

* {
    padding: 0;
    margin: 0;
    border: 0 solid var(--almost-black);
    color: var(--almost-black);
}

body {
    background-color: var(--almost-white);
    padding: 50px;
}

h1 {
    margin: 15px 0;
}

h3 {
    margin: 10px 0;
}

a {
    color: var(--purple1);
}

a:hover {
    color: var(--green1);
}

ul {
    padding-left: 20px;
}

.code {
    font-family: "courier new"
}

.color-box {
    display: inline-block;
    height: 65px;
    width: 150px;
    margin: 10px;
    padding: 3px;
    border: 4px dotted grey;
}

.black-background { background-color: var(--almost-black); }
.white-background { background-color: var(--almost-white); }
.green1-background { background-color: var(--green1); }
.green2-background { background-color: var(--green2); }
.purple1-background { background-color: var(--purple1); }
.purple2-background { background-color: var(--purple2); }
.yellow1-background { background-color: var(--yellow1); }
.yellow2-background { background-color: var(--yellow2); }
.pink1-background { background-color: var(--pink1); }
.pink2-background { background-color: var(--pink2); }